<%= form_for(@message) do |f| %>

	<%= f.error_messages %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>


  <div class="field">
    <%= f.label :emotion %><br />
    <%= f.select :emotion, Message::EMOTIONS,
                  :prompt => 'Select your emotion'%>

   <div class="field">
    <%= f.label :color %><br />
    <%= f.select :color,
                Message::COLORS,
                :prompt => "Choose color" %>
  </div>

<p>
	Categories:<br/>
	<% for category in Category.all do %>
		<%= check_box_tag "message[category_ids][]", category.id, @message.categories.include?(category) %> <%= category.name %><br/>
	<% end %>
	
</p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

