<h1>Message</h1>

<p>
  <b>Body:</b>
   <table><td style="border-style:solid; border-color:#<%= @message.color %>"><%= @message.body %></td></table>
</p>

<p>
  <b>Emotion:</b>
  <%= image_tag(Message::IMG_DIR + @message.emotion) %>
</p>

<p>
	<strong>Created at:</strong>
	<%= @message.created_at.to_s(:my_datetime) %>
</p>

<p>
	<strong>Categories:</strong><br/>
	<ul>
		<% @message.categories.each do |category| %>
		<li><%= category.name %></li>
		<% end %>
	</ul>
</p>

<% if @message.modificapable?(current_user) %>
  <%= link_to 'Edit', edit_message_path(@message) %>
<% end %>

| <%= link_to 'Back', messages_path %>
| <%= link_to "Add comment", new_comment_path(:commentable_type => "message", :commentable_id => @message.id) %>

<div id="comments_count">
	<%= pluralize(@message.comments.count, "comment") %>
</div>

<h2>Say something</h2>

<%= render :partial => "comments/form", :locals => {:ctype => "message", :cid => @message.id, :is_remote => true} %>

<h2>Comments</h2>
<table id="comments">
	<% @comments.each do |comment| %>
		<%= render :partial => "comments/comment_item", :locals => {:comment => comment} %>
	<% end %>
</table>

<%= will_paginate @comments %>

