<h1>New messages</h1>

<table>
  <tr>
    <th>User</th>
    <th>Body</th>
    <th>Emotion</th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
	<td>
		<%= image_tag message.user.avatar.url(:thumb) %><br/>
		<%= user_human(message.user) %>
	</td>
	<td style="border-style:solid; border-color:#<%= message.color %>"><%= message.body %></td>
    <td><%= image_tag(Message::IMG_DIR + message.emotion) unless message.emotion.blank? %></td>
	<td><%= message.created_at.to_s(:my_datetime) %></td>
    <td><%= link_to 'Show', message %></td>
  <% if current_user && (current_user.id == message.user_id) %>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>

