<p id="notice"><%= notice %></p>

<p>
  <b><%= t("activerecord.attributes.category.name", :default => "Name")+':' %></b>
  <%= @category.name %>
</p>

<p>
  <b><%= t("activerecord.attributes.category.description", :default => "Description")+':' %></b>
  <%= @category.description %>
</p>


<%= link_to t("links.edit",:default => 'Edit'), edit_category_path(@category) %> |
<%= link_to t("links.back",:default => 'Back'), categories_path %>

