<!DOCTYPE html>
<html>
<head>
  <title>Messager</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body>

<table border="0" cellspacing="5" cellpadding="0" width="100%">
	<tr>
		<td><h1><%= link_to "Messager", root_path %></h1></td>
		<td align="right" width="20%">
			<% if current_user %>
				Вы вошли как <%= current_user.email %>. <%= link_to "Logout", destroy_user_session_path %>
			<% else %>
				<%= link_to "Login", new_user_session_path %> | <%= link_to "Registration", new_user_registration_path %>
			<% end %>
		</td>
	</tr>
</table>


<%= yield :top_table %>

<p id="notice"><%= notice %></p>

<!--<p><%= params[:controller] %></p>
<p><%= params[:action] %></p>
<p><%= request.request_uri %></p>
<p><%= about_path %></p>!-->

<% if alert %>
	<p id="error"><%= alert %></p>
<% end %>


<table border="1" cellspacing="5" cellpadding="5" width="100%">
	<tr valign="top">
		<td class="fo" width="20%">

			<%= render_navigation %>

	<!-- <ul>
			<li><%= controller.controller_name %> - <%= controller.action_name %></li>
		<li><%= link_to "Home", root_path, :class => is_current_forhighlighting(root_path) %></li>
		<li><%= link_to "About", about_path, :class => is_current_forhighlighting(about_path)%></li>
			<% if current_user %>
	        <li><%= link_to "Profile", profile_path, :class => is_current_forhighlighting(profile_path) %></li>
		<li><%= link_to "Current status", current_status_path, :class => is_current_forhighlighting(current_status_path) %></li>
		<li><%= link_to "History", messages_path, :class => is_current_forhighlighting(messages_path) %></li>
		<li><%= link_to "Friends", show_friends_path, :class => is_current_forhighlighting(show_friends_path) %></li>
			<% end %>
		</ul> -->

		</td>
		<td><%= yield %></td>
	</tr>
</table>

</body>
</html>

